<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
<head>
	<div th:replace="~{fragments/bootstrap.html :: style}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
	<title>Vadrilis da Sorte - Apostas</title>
</head>
<header>
	<div th:replace="~{fragments/navigation.html :: menu}"></div>
</header>
<body class=" bg-purple-200">
	<div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
		<span th:text="${sucesso}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
	<div class="container-fluid justify-content-center">
		<div class="row">
			<div class="col-4">
				<div class="container bg-purple-400 border rounded-4 border-1 border-purple-500 p-3 mt-3 mb-3">

					<!-- CARD -->
					<div class="card bg-teal-500 border border-teal-600 border-3">
						<h5 class="card-header"><i class="bi bi-wallet2"></i> Carteira</h5>
						<div class="card-body border-1 border-bottom border-teal-600">
							<h5 class="card-title"><i class="bi bi-currency-dollar"></i> 100,00</h5>
						</div>
						<div class="card-body bg-red-200">
							<h5 class="card-title"><i class="bi bi-currency-dollar"></i> 100,00</h5>
						</div>
					</div>
				</div>

				<div class="container bg-purple-400 border rounded-4 border-1 border-purple-500 p-3 mt-3 mb-3">
					
					<!-- ACCORDION -->
					<div class="accordion accordion-flush" id="accordionFlush">

						<!-- ACCORDION ITEM -->
						<div class="accordion-item bg-purple-700">
							<h2 class="accordion-header bg-purple-600" id="accordion-heading-1">
							<button class="accordion-button bg-purple-600 text-white collapsed" type="button" 
								data-bs-toggle="collapse" 
								data-bs-target="#flush-collapse-1" 
								aria-expanded="false" 
								aria-controls="flush-collapse-1">
								<p class="fs-6">
									Aposta 1
								</p>
							</button>
							</h2>
							<div id="flush-collapse-1" class="accordion-collapse collapse" 
								aria-labelledby="flush-collapse-1" 
								data-bs-parent="#accordionFlush">
							<div class="accordion-body bg-purple-500 text-white">
								<div class="row">
									<div class="col-6">
										Números Sort.:
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										Números Selec.:
									</div>
								</div>
							</div>
							</div>
						</div>
						
					</div>
				</div>
				

			</div>
			<div class="col-8">
				<div class="container bg-purple-400 border rounded-4 border-1 border-purple-500 p-3 mt-3 mb-3">
					<!-- CARD SORT -->
					<div class="container mt-4 text-center">
						<h1 class="text-white pb-2">Minhas Apostas</h1>
						<div class="d-flex flex-grow-1 flex-wrap justify-content-evenly text-center px-3 py-2 gap-3">

							<div th:each="a : ${minhasApostas}" class="card text-white bg-dark mb-3" style="min-width: 18rem;">
								<div class="card-header">1</div>
								<div class="card-body">

									<h5 class="card-title">Apostas</h5>
									<p class="card-text"><i class="bi bi-currency-dollar">Valor da aposta</i></p>
									<p class="card-text"><i class="bi bi-currency-dollar">Numeros Escolhidos</i></p>
								</div>
								<hr>
								<div >
									<h5 th:inline="text" class="card-title">
										Sorteio: [[${a.sorteio.id}]]
									</h5>
									<p th:inline="text" class="card-text">
										Números selecionados: [[${#strings.listJoin(a.numeros, ', ')}]] <br>
										Números do sorteio: [[${#strings.listJoin(a.sorteio.dezenasSorteadas, ', ')}]]
									</p>
								</div>
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


</body>
</html>