<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: style}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Sorteios</title>
</head>
<header>
	<div th:replace="~{fragments/navigation.html :: menu}"></div>

</header>
<body>
	<!-- <div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
		<span th:text="${sucesso}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div> -->
	<div class="container text-center mt-4">
		<h1 class="pb-2">Sorteios Abertos</h1>
		<div class="d-flex flex-grow-1 flex-wrap justify-content-evenly text-center px-3 py-2 gap-3">

			<div th:each="s : ${sorteiosAbertos}" class="card text-black bg-purple-300 mb-3" style="min-width: 18rem;">
				<div class="card-header">[[${s.id}]]</div>
				<div class="card-body">
					<h5 th:inline="text" class="card-title">
						Premio: R$ [[${#numbers.formatDecimal(s.valorPremio, 0, 'POINT', 2, 'COMMA')}]]
					</h5>
					<h5 th:inline="text" class="card-text">
						Quant. de Apostas Realizadas: [[${s.apostasRealizadas.size()}]]
					</h5>
					<h5 th:inline="text" class="card-text">
						Data de realização: [[${#temporals.format(s.dataHoraSorteio, 'dd-MM-yyyy HH:mm')}]]
					</h5>
					
				</div>
			</div>

		</div>
	</div>
	<!-- <div class="fixed-bottom">
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</div> -->

</body>
</html>