<!DOCTYPE html>
<html 
	lang="en"
	xmlns:th="www.thymeleaf.org"
>
<head>
	<div th:replace="~{fragments/bootstrap.html :: style}"></div>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Sorteios</title>
</head>
<header>
	<div th:replace="~{fragments/navigation.html :: menu}"></div>
</header>
<body>
	<!-- <div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
		<span th:text="${sucesso}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div> -->

	<div class="container mt-4 text-center">
		<h1 class="display-3 pb-2">Meus Sorteios</h1>
		<div class="d-flex flex-grow-1 flex-wrap justify-content-evenly text-center px-3 py-2 gap-3">
			<div th:each="s : ${sorteiosAbertos}" class="card border border-success rounded-pill border-3 h-100 my-2 flex-grow-1 bg-success bg-gradient ">
				<div class="card-body text-white border-secondary">
					<h5 th:inline="text" class="card-title">
						Valor da premiação: R$ [[${#numbers.formatDecimal(s.valorPremio, 0, 'POINT', 2, 'COMMA')}]]
					</h5>
					<p th:inline="text" class="card-text">
						Quantidade de participantes [[${s.apostasRealizadas.size()}]]
					</p>
					<a class="text-center btn btn-success btn-lg" th:href="@{/sorteios/realizar/{id}(id=${s.id})}">
						Realizar Sorteio
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="fixed-bottom">
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</div> -->

</body>
</html>